html {
height: 100%;
background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}

h1 {
  font-family: Helvetica;
  font-weight: 800;
  font-size: 65px;
}

.content {
  margin: 200px;
}

p {
  font-size: 50px;
  font-family: Helvetica;
  color: white;
  font-weight: 400;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}
